div {
    font-size: 40px;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 45%;
    left: 45%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}

p {
    font-size: 20px;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}

h1 {
    font-size: 13px;
    height: 200px;
    width: 400px;
    position: relative;
    bottom: 5%;
    left: 1%;
    margin-left: -20px;
}